.browse
  %h1 Browse

  - ("a".."z").each do |letter|
    %a{:href => "/admin/browse/#{letter}"}= letter.upcase

  - if @to_add_images
    #to_add
      %h1 To Add

      - @to_add_images.each do |image|
        %a{:id => "image_#{image.image_id}", :href => link_with_pagination("/admin/save/#{params[:character]}/#{image.image_id}")}
          - if previously_saved(image)
            %img{:src => image.url, :class => "image_saved"}
          - else          
            %img{:src => image.url}

      #paging
        = render_pagination("/admin/browse/#{params[:character]}")

  - if @saved_images
    #saved
      %h1 Saved

      #save_status= flash[:save_status]

      - @saved_images.each do |image|
        %img{:src => image.url}        