.browse
  %h1 Browse

  - ("a".."z").each do |letter|
    %a{:href => "/admin/browse/#{letter}"}= letter.upcase

  - if @to_add_images
    #to_add
      %h1 To Add
      
      = partial(:partial_images_list, :images => @to_add_images, :action => "save")

      #paging
        = render_pagination("/admin/browse/#{params[:character]}")

  - if @saved_images
    #saved
      %h1 Saved
      #save_status= flash[:save_status]

      = partial(:partial_images_list, :images => @saved_images, :action => "remove")