.browse
  %h1 Browse

  - ("a".."z").each do |letter|
    %a{:href => "/admin/browse/#{letter}"}= letter.upcase

  - if @to_add_images
    #to_add
      %h1 To Add

      - @to_add_images.each do |image|
        %a{:id => "image_#{image.image_id}", :href => "/admin/save/#{params[:character]}/#{image.image_id}"}
          %img{:src => image.url}

      #paging
        %a{:href => "/admin/browse/#{params[:character]}?service_page=#{@service_page-1}" } previous
        = "Page #{@service_page}"
        %a{:href => "/admin/browse/#{params[:character]}?service_page=#{@service_page+1}" } next

  - if @saved_images
    #saved
      %h1 Saved

      - @saved_images.each do |image|
        %img{:src => image.url}        